<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/e60e63a9-1298-437d-87d4-08a0b3ffb29a/resourcegroups/ResturantApp20240304035514ResourceGroup/providers/Microsoft.Web/sites/ResturantAppApi</ResourceId>
    <ResourceGroup>ResturantApp20240304035514ResourceGroup</ResourceGroup>
    <ApiResourceId>/subscriptions/e60e63a9-1298-437d-87d4-08a0b3ffb29a/resourceGroups/ResturantApp20240304035514ResourceGroup/providers/Microsoft.ApiManagement/service/ResturantAppapi/apis/ResturantApp</ApiResourceId>
    <OpenApiDocumentName>v1</OpenApiDocumentName>
    <UpdateApiOnPublish>true</UpdateApiOnPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://resturantappapi.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <ExcludeApp_Data>false</ExcludeApp_Data>
    <ProjectGuid>9dac84ad-2e4c-4a4c-95f5-a318b11a7003</ProjectGuid>
    <MSDeployServiceURL>resturantappapi.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>ResturantAppApi</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>true</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>true</EnableMSDeployBackup>
    <EnableMsDeployAppOffline>true</EnableMsDeployAppOffline>
    <UserName>$ResturantAppApi</UserName>
    <_SavePWD>true</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <InstallAspNetCoreSiteExtension>false</InstallAspNetCoreSiteExtension>
  </PropertyGroup>
</Project>